#about_container{
    transition-property: all;
    transition-duration: .3s;
    position: absolute;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    height: calc(100% - 80px);
    top: 80px;
    overflow: auto;
}
#about_content{
    width: 800px;
    margin: 0 auto;
}
#about_title{
    width: 180px;
    height: 64px;
    background: url("../img/about_title.svg") no-repeat;
    background-size: contain;
    margin-bottom: 90px;
}
.about_p{
    font-size: 18px;
    font-weight: 100;
    font-family: "HK Grotesk Light", serif;
    color: #626262;
    line-height: 30px;
}
.about_title_p{
    font-size: 18px;
    font-weight: 100;
    font-family: "HK Grotesk Light", serif;
    color: black;
    line-height: 30px;
    margin-bottom: -18px;
}
.about_an{
    font-size: 14px;
    font-family: "HK Grotesk Regular", sans-serif;
    color: #626262;
    line-height: 24px;
}
.about_form{
    width: 100%;
    margin-bottom: 90px;
}
.about_form_left{
    width: 260px;
}
.about_form_head{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: "HK Grotesk Regular", sans-serif;
    color: black;
    line-height: 24px;
    text-transform: uppercase;
}
.about_form_left_p{
    font-size: 18px;
    font-weight: 100;
    font-family: "HK Grotesk Medium", serif;
    color: black;
    line-height: 30px;
}