#about_header_area{
  transition-duration: 1s;
  position: relative;
  overflow: hidden;
}
#about_header{
  width: 100%;
}
#about_bubble_l{
  position: absolute;
  top: 15%;
  left: -1%;
  width: 15%;
  height: 300px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/about_bubble_l.png);
}
#about_bubble_r{
  position: absolute;
  top: 5%;
  right: -15%;
  width: 25%;
  height: 300px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/about_bubble_r.png);
}
.about_hidden{
  transform: translate(0,-100px);
  opacity: 0;
}
.about_header_hidden{
  transform: translate(0,-300px);
  opacity: 0;
}
#about_button_area{
  margin: 24px 0 60px 0;
}
