#cdi_icon{
  background-image: url(../src/concept_cdisoul.png);
}
#cdi_screenshots_container{
  width: 700px;
}
#cdi_s_1{
  width: 320px;
  height: 570px;
  background-image: url(../src/cdi_s_1.jpg);
}
#cdi_s_2{
  width: 320px;
  height: 570px;
  background-image: url(../src/cdi_s_2.jpg);
}
#cdi_footer_tn_pre{
  background-image: url(../src/concept_keyplus.png);
}
#cdi_footer_tn_next{
  background-image: url(../src/concept_trims.png);
}
