html{
    font-size:100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif, serif;
    height:100%;
    -webkit-backface-visibility: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
}
a:visited{
    color: black;
}
::selection{
    background: #3A3A3A;
    color: #44AEFC;
}
@font-face {
    font-family: "SF Bold";
    src:url("../src/SF-UI-Display-Bold.otf");
}
@font-face {
    font-family: "SF Semi";
    src: url("../src/SF-UI-Display-Semibold.otf");
}
@font-face {
    font-family: "SF Normal";
    src: url("../src/SF-UI-Display-Regular.otf");
}
@font-face {
    font-family: "PT";
    src: url("../src/PT_Serif-Web-Regular.ttf");
}
img{
    border: none;
    vertical-align: bottom;
    display:block;
    padding:0;
    margin:0;
}
body{
    font-weight: normal;
    margin:0;
    padding: 0;
    background-color: white;
}
h1{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Bold", sans-serif;
  margin-top: 0;
  margin-bottom: 90px;
  letter-spacing: .4px;
  color: #000000;
  font-size: 54px;
  line-height: 58px;
}
h2{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Bold", sans-serif;
  color: black;
  letter-spacing: .4px;
  font-size: 38px;
  margin: 0;
  line-height: 45px;
}
h3{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Semi", sans-serif;
  margin:0;
  color: white;
  letter-spacing: .5px;
  font-size: 32px;
  line-height: 34px;
}
h4{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Semi", sans-serif;
  margin:0;
  color: black;
  font-size: 28px;
  line-height: 32px;
}
h5{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Bold", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}
p{
  font-weight: normal;
  font-style: normal;
  font-family: "PT", serif;
  color: black;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: .2px;
  margin-bottom: 48px;
}
#area_404{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_bar{
  width: calc(100% - 56px);
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 28px;
  z-index: 99;
}
.button{
  transition-duration: .7s;
  display: inline-block;
  height: 20px;
  border-radius: 6px;
  text-align: center;
  padding: 6px 16px 6px 16px;
  margin-left: 20px;
  font-family: "SF Semi";
  font-size: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover{
  transition-duration: .3s;
  cursor: pointer;
  border-radius: 8px;
  transform: translate(0,-2px) scale(1.1,1.1);
  background-color: #55A1F9;
  color: white;
  /* border-width: 0; */
  box-shadow: 0 6px 12px rgba(74, 144, 226, 0.2);
}
.button_black{
  background-color: #3A3A3A;
  color: white;
}
.button_white{
  background-color: white;
  box-shadow:inset 0 0 0 1px #979797;
  /* box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #979797; */
}
.button_pink{
  background-color: #FB5B92;
  color: white;
}
.button_about{
  margin: 0 12px 0 0;
  width: 88px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  border-radius: 8px;
}
.logo_nav{
  transition-property: all;
  transition-duration: .7s;
  width: 72px;
  height: 16px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/logo.svg);
}
/* .logo_nav:hover{
  transition-duration: .3s;
  cursor: pointer;
  transform: translate(0,-2px);
} */
#logo_area{
  transition-property: all;
  transition-duration: .7s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 200px;
  align-items: center;
}
#logo_nav_story{
  transition-property: all;
  transition-duration: .7s;
  width: 72px;
  height: 16px;
  margin-left: 12px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/logo.svg);
}
#button_back{
  transition-property: all;
  transition-duration: .7s;
  width: 32px;
  height: 32px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/button_back.svg);
}
#button_back.hide{
  transform: translate(-65px,0);
}
#logo_area:hover #logo_nav_story{
  transition-duration: .3s;
  transform: translate(-6px,0px);
}
#logo_area:hover #button_back{
  transition-duration: .3s;
  transform: scale(1.1,1.1);
}
#logo_area.hide{
  transform: translate(-44px,0);
}
#footer{
  width: calc(100% - 56px);
  padding: 28px;
  z-index: 98;
}
#footer_flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.annotation{
  width: 500px;
  font-size: 14px;
  font-family: "SF Normal";
  color: #9B9B9B;
  letter-spacing: .2px;
  line-height: 18px;
}
.story_header_img{
  transition-duration: 1s;
  width: 100%;
  margin-bottom: 48px;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #EDEDED;
}
.story_header_hidden{
  transform: translate(0,-350px);
  opacity: 0;
}
.story_first_hidden{
  transform: translate(0,-150px);
  opacity: 0;
}
.story_container{
  transition-duration: 1s;
  position: relative;
  padding: 0 28px 0 28px;
  width:calc(968px - 28px - 28px);
  margin: 0 auto;
}
.story_container.with_side_img{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.in_flex{
  margin-bottom: 0;
}
#story_title_box{
  margin-left: 80px;
  width: 560px;
}
#story_title_year{
  font-size: 20px;
  font-weight: normal;
  font-family: "SF Normal";
  line-height: 28px;
  color: #4A90E2;
  margin-bottom: 30px;
}
#story_info_box{
  margin-left: 80px;
  margin-top: 90px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.story_info_col{
  width: 300px;
}
.story_info_title{
  font-family: "SF Semi";
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 4px;
  color: #9B9B9B;
}
.story_info{
  font-family: "SF Normal";
  font-size: 16px;
  font-weight: normal;
  letter-spacing: .4px;
  margin-bottom: 4px;
  color: black;
}
.story_info.bold{
  font-family: "SF Semi";
}
/* .story_info:hover{
  transition-duration: .3s;
  transform: scale(1.1,1.1) translate(10px,0);
} */
.story_info_last{
  margin-bottom: 20px;
}
.story_content_box{
  margin-left: 80px;
  width: 584px;
}
.story_chapter_title_box{
  position: relative;
  width: 488px;
  margin: 100px 0 32px 0;
}
.story_chapter_number{
  position: absolute;
  z-index: 12;
  top: -60px;
  left: -40px;
  font-family: "SF Bold";
  font-size: 128px;
  font-weight: normal;
  color: black;
  opacity: .1;
}
.story_chapter_title{
  position: relative;
  z-index: 18;
  color: #4A90E2;
}
.story_img_inline{
  width: 100%;
  margin-bottom: 60px;
}
.story_img_inline_large{
  width: calc(100% - 80px);
  margin-bottom: 60px;
  padding-left: 80px;
}
.story_img_inline_larger{
  width: 100%;
  margin-bottom:0;
}
.story_img_annotation{
  width: 500px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.story_img_annotation_arrow{
  width: 12px;
  height: 10px;
  margin-right: 12px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/story_annotation_arrow.svg);
}
.story_img_annotation_text{
  width: 468px;
  font-size: 16px;
  font-family: "SF Semi";
  color: #4A4A4A;
  letter-spacing: .2px;
  line-height: 20px;
}
.story_focus{
  font-size: 28px;
  font-family: "SF Bold";
  line-height: 36px;
  color: black;
}
.story_focus.is_title{
  margin-bottom: -16px;
}
.story_img_canvas{
  margin-left: 0;
  margin-bottom: 48px;
  width: 100%;
}
.story_img_side{
  width: 276px;
  height: 178px;
  margin-left: 40px;
  margin-top: 20px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 24px rgba(0, 0, 0, 0.1);
}
.story_quote_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 48px;
}
.story_quote_icon{
  width: 30px;
  height: 20px;
  margin-right: 12px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/quote_icon.svg);
}
.story_quote_text_box{
  width: 480px;
  margin-top: 14px;
}
.story_quote_source{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Bold";
  margin-top: 0;
  margin-bottom: 0;
  color: #9B9B9B;
  font-size: 18px;
  line-height: 48px;
}
.story_quote_source:visited{
  color: #9B9B9B;
}
.reflection{
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 60px;
  padding-bottom: 20px;
}
.story_gray_area{
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 48px;
  padding-bottom: 28px;
  margin-bottom: 48px;
}
#reflection_title_box{
  position: relative;
  width: 488px;
  margin: 0 0 32px 0;
}
#footer_nav{
  padding-top: 28px;
  margin-bottom: 28px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer_nav_pre{
  width: 444px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#footer_nav_next{
  width: 444px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.footer_nav_title{
  color: #9B9B9B;
  margin-bottom: 20px;
}
#footer_nav_pre_cell{
  display: flex;
  flex-direction: row;
}
#footer_nav_next_cell{
  display: flex;
  flex-direction: row-reverse;
}
.footer_nav_thumbnail{
  position: relative;
  width: 120px;
  height: 120px;
  /* background-color: #55A1F9; */
  border-radius: 12px;
  background: no-repeat center;
  background-size: cover;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}
#footer_nav_pre_text{
  width: 300px;
  text-align: left;
  margin-left: 24px;
}
#footer_nav_next_text{
  width: 320px;
  text-align: right;
  margin-right: 24px;
}
.footer_nav_area{
  transition-property: all;
  transition-duration: .7s;
  transform: scale(1,1) translate(0,0);
}
.footer_nav_area:hover{
  transition-property: all;
  transition-duration: .3s;
  border-radius: 8px;
  transform: translate(0,-2px) scale(1.1,1.1);
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 32px rgba(0, 0, 0, 0.1);
}
.footer_nav_text{
  transition-duration: .7s;
  transform: translate(0,0);
  font-family: "SF Semi";
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 6px;
}
.footer_nav_area:hover .footer_nav_text{
  transition-duration: .3s;
  transform: translate(0,10px);
}
