html{
    font-size:100%;
    -webkit-text-size-adjust: 100%;
    font-family: "SF Normal","PT",sans-serif;
    height:100%;
    -webkit-backface-visibility: hidden;
}
a{
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
    color: black;
}
a:hover{
    transition-property: all;
    transition-duration: .3s;
}
a:visited{
    color: black;
}
::selection{
    background: #3A3A3A;
    color: #44AEFC;
}
@font-face {
    font-family: "SF Bold";
    src:url("../src/SF-UI-Display-Bold.otf");
}
@font-face {
    font-family: "SF Semi";
    src: url("../src/SF-UI-Display-Semibold.otf");
}
@font-face {
    font-family: "SF Normal";
    src: url("../src/SF-UI-Display-Regular.otf");
}
@font-face {
    font-family: "PT";
    src: url("../src/PT_Serif-Web-Regular.ttf");
}
img{
    border: none;
    vertical-align: bottom;
    display:block;
    padding:0;
    margin:0;
}
body{
    font-weight: normal;
    margin:0;
    padding: 0;
    background-color: white;
}
h1{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Bold";
  margin-top: 0;
  margin-bottom: 90px;
  color: #000000;
  font-size: 54px;
  line-height: 56px;
}
h4{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Semi";
  margin:0;
  color: white;
  font-size: 32px;
  line-height: 34px;
}
h5{
  font-weight: normal;
  font-style: normal;
  font-family: "SF Bold";
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}
.nav_bar{
  width: calc(100% - 56px);
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 28px;
  padding: 28px;
  z-index: 99;
}
.button_black{
  transition-duration: .7s;
  display: inline-block;
  height: 20px;
  border-radius: 6px;
  background-color: #3A3A3A;
  text-align: center;
  padding: 6px 16px 6px 16px;
  font-family: "SF Semi";
  font-size: 16px;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button_black:hover{
  transition-duration: .3s;
  cursor: pointer;
  border-radius: 8px;
  transform: translate(0,-2px) scale(1.1,1.1);
  background-color: #55A1F9;
  box-shadow: 0 6px 12px rgba(74, 144, 226, 0.2);
}
.logo_nav{
  transition-property: all;
  transition-duration: .7s;
  width: 72px;
  height: 16px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/logo.svg);
}
.logo_nav:hover{
  transition-duration: .3s;
  cursor: pointer;
  transform: translate(0,-2px);
}
