/* Preload images */
:root::before{
  position: absolute;
  content: url(../src/home_thumbnail_psa_blur.jpg)
  url(../src/home_thumbnail_vcard_blur.jpg)
  url(../src/home_thumbnail_huawei_blur.jpg)
  url(../src/home_thumbnail_bmw_blur.jpg);
  visibility: hidden;
  left:-999em; /* Move this out of window */
}
.home_header_bg{
  transition-duration: 1s;
  width: 100%;
  height: 428px;
  position: relative;
  z-index: 0;
  background: linear-gradient(360deg, #FFFFFF 0%, #FFFFFF 25%, #DDDDDD 50%, #EDEDED 75%, #EDEDED 100%);
  background-size: 100% 400%;
  background-position-y: 100%;
}
.home_header_white{
  background-position-y: 0%;
}
#home_header_container{
  width: 912px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}
.home_header_content{
  position: absolute;
  cursor: pointer;
  margin-top: 146px;
  width: 468px;
  transition-property: all;
  transition-duration: .8s;
}
.home_header_content.header_hide{
  opacity: 0;
  transform: translate(10px,0);
}
#bmw_logo{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/bmw_logo.png);
}
#dog_emoji{
  width: 54px;
  height: 54px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/dog_emoji.png);
}
#home_body{
  transition-duration: 1s;
  position: relative;
  width: 912px;
  padding:0 28px 0 28px;
  margin: 0 auto;
}
.home_body_hidden{
  transform: translate(0,-80px);
  opacity: 0;
}
#home_story_container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: -50px;
}
.home_story_cell{
  /* float: left; */
  margin-right: 64px;
  margin-bottom: 64px;
  transition-property: all;
  transition-duration: .7s;
  position: relative;
  width: 348px;
  height: 348px;
  /* background-color: #55A1F9; */
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 24px rgba(0, 0, 0, 0.1);
}
.home_story_cell_hover_bg{
  position: absolute;
  transition-property: all;
  transition-duration: .7s;
  width: 100%;
  height: 100%;
  background-color: #55A1F9;
  border-radius: 12px;
  opacity: 0;
  z-index: 20
}
.home_story_cell:hover{
  transition-duration: .3s;
  cursor: pointer;
  border-radius: 30px;
  transform: translate(0,-20px) scale(1.1,1.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 32px rgba(74, 144, 226, 0.44);
}
.home_story_cell:hover .home_story_cell_hover_bg{
  transition-duration: .3s;
  opacity: 0.8;
  border-radius: 30px;
}
.home_story_image{
  transition-property: all;
  transition-duration: .3s;
  position: absolute;
  z-index: 10;
  /* filter: blur(10px); */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: no-repeat center;
  background-size: contain;
}
.home_story_cell:hover .home_story_image{
  border-radius: 30px;
}
.home_story_company{
  transition-property: all;
  transition-duration: .7s;
  margin-bottom: 4px;
}
.home_story_cell:hover .home_story_company{
  transition-duration: .3s;
  transform: scale(1.3,1.3) translate(42px,8px);
  color: white;
}
#home_story_psa{
  background-image: url(../src/home_thumbnail_psa.jpg);
}
.home_story_cell:hover #home_story_psa{
  background-image: url(../src/home_thumbnail_psa_blur.jpg);
}
#home_story_vcard{
  background-image: url(../src/home_thumbnail_vcard.jpg);
}
.home_story_cell:hover #home_story_vcard{
  background-image: url(../src/home_thumbnail_vcard_blur.jpg);
}
#home_story_huawei{
  background-image: url(../src/home_thumbnail_huawei.jpg);
}
.home_story_cell:hover #home_story_huawei{
  background-image: url(../src/home_thumbnail_huawei_blur.jpg);
}
#home_story_bmw{
  background-image: url(../src/home_thumbnail_bmw.jpg);
}
.home_story_cell:hover #home_story_bmw{
  background-image: url(../src/home_thumbnail_bmw_blur.jpg);
}
.home_story_cell_texts{
  position: absolute;
  z-index: 30;
  padding: 18px;
}
.home_story_year{
  transition-property: all;
  transition-duration: .7s;
  opacity: 0;
  color: #215DA2;
}
.home_story_cell:hover .home_story_year{
  transition-duration: .3s;
  opacity: 1;
  transform: scale(1.3,1.3) translate(42px,12px);
}
.home_story_title{
  transition-property: all;
  transition-duration: .7s;
  opacity: 0;
  width: 288px;
  margin-top: 120px;
  margin-left: 24px;
}
.home_story_cell:hover .home_story_title{
  transition-duration: 1s;
  opacity: 1;
  transform: translate(-10px,0);
}

#home_concept_container{
  position: relative;
  width: 760px;
  top: -50px;
}
#home_concept_title{
  width: 100%;
  padding-top: 20px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 1px 0 0 0;
  margin-bottom: 20px;
}
.home_concept_cell{
  transition-duration: .7s;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 120px;
  margin-bottom: 20px;
}
.home_concept_cell_text_container{
  transition-duration: .7s;
  position: relative;
  width: 506px;
}
.home_concept_cell_name{
  transition-duration: .7s;
  font-size: 24px;
  font-family: "SF Bold";
  line-height: 32px;
  color: black;
}
.home_concept_cell_intro{
  transition-duration: .7s;
  font-size: 24px;
  font-family: "SF Normal";
  line-height: 32px;
  letter-spacing: .3px;
  color: #838383;
}
.home_concept_cell_thumbnail{
  background: no-repeat center;
  background-size: contain;
  width: 120px;
  height: 120px;
}
.home_concept_cell:hover{
  transition-duration: .3s;
  cursor: pointer;
  border-radius: 8px;
  transform: translate(0,-2px) scale(1.1,1.1);
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 32px rgba(0, 0, 0, 0.1);
}
.home_concept_cell:hover .home_concept_cell_text_container{
  transition-duration: .3s;
  transform: translate(24px,0);
}
/* .home_concept_cell:hover .home_concept_cell_name{
  transition-duration: .3s;
  color: white;
}
.home_concept_cell:hover .home_concept_cell_intro{
  transition-duration: .3s;
  color: white;
  opacity: .4;
} */
#home_concept_trims{
  background-image: url(../src/concept_trims.png);
}
#home_concept_cdisoul{
  background-image: url(../src/concept_cdisoul.png);
}
#home_concept_dbrush{
  background-image: url(../src/concept_dbrush.png);
}
#home_concept_keyplus{
  background-image: url(../src/concept_keyplus.png);
}
