body{
    height:100%;
}
#switcher{
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.switcher_area{
    pointer-events: visible;
    width: 128px;
    height: 70%;
    /*background-color: #ff3b71;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#pre{
    transition-property: all;
    transition-duration: .3s;
    opacity: 0.3;
    cursor: pointer;
    width: 80px;
    height: 80px;
    top:calc(50% - 40px);
    background-size: contain;
    background: url("../img/pre.svg") no-repeat center;
    /*transform: translate(-200%,0);*/
}
#pre:hover{
    opacity: 1;
}
#next{
    transition-property: all;
    transition-duration: .3s;
    opacity: 0.3;
    cursor: pointer;
    width: 80px;
    height: 80px;
    top:calc(50% - 40px);
    background-size: contain;
    background: url("../img/next.svg") no-repeat center;
    /*transform: translate(200%,0);*/
}
#next:hover{
    opacity: 1;
}
#paging{
    margin-bottom: 18px;
}
#paging>.swiper-pagination-bullet{
    margin-left: 10px;
    margin-right: 10px;
}
.swiper-pagination-bullet{
    transition-property: all;
    transition-duration: 1s;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid black;
    opacity: 0.5;
    background-color: transparent;
}
.swiper-pagination-bullet-active {
    background: black;
    opacity: 1;
}
.swiper-pagination-bullet:hover{
    transition-property: all;
    transition-duration: 0.3s;
    background-color: black;
}
.dot_hover{
    opacity: 1;
}
.dark_content .swiper-pagination-bullet{
    background-color: transparent;
    border: 1px solid white;
}
.dark_content .swiper-pagination-bullet-active {
    background: white;
}
.dark_content .swiper-pagination-bullet:hover{
    background-color: white;
}
#hero_container{
    width: 100%;
    height: 100%;
}
.hero{
    transition-property: all;
    transition-duration: 1s;
    width:100%;
    /*min-height: 600px;*/
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /*transform: translate(100%,0);*/
}
.splash_info, .splash_info_dark {
    transition-property: all;
    transition-duration: 1s;
    position: absolute;
    bottom: 36px;
    right: 36px;
    font-size: 14px;
    text-align: right;
}
.project_name{
    transition-property: all;
    transition-duration: 1s;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-family: "HK Grotesk Bold", serif;
    font-size: 16px;
    color: black;
}
.splash_info_dark .project_name{
    color: white;
}
.year{
    transition-property: all;
    transition-duration: 1s;
    color: #A9A9A9;
}
.tag{
    transition-property: all;
    transition-duration: 1s;
    opacity: 0;
}
.splash_info:hover{
    transition-property: all;
    transition-duration: .3s;
    transform: translate(0,-4px);
}
.splash_info_dark:hover{
    transition-property: all;
    transition-duration: .3s;
    transform: translate(0,-4px);
}
.splash_info:hover > .project_name{
    transition-property: all;
    transition-duration: .3s;
    color: black;
}
.splash_info_dark:hover > .project_name{
    transition-property: all;
    transition-duration: .3s;
    color: white;
}
.splash_info_dark:hover > .year{
    transition-property: all;
    transition-duration: .3s;
    color: #80abff;
}
.splash_info:hover > .year{
    transition-property: all;
    transition-duration: .3s;
    color: #80abff;
}
.splash_info:hover .tag{
    transition-property: all;
    transition-duration: .3s;
    opacity: 1;
}
.splash_info_dark:hover .tag{
    transition-property: all;
    transition-duration: .3s;
    opacity: 1;
    color: black;
}