/* Preload images */
:root::before{
  position: absolute;
  content: url(../src/home_thumbnail_psa_blur.jpg)
  url(../src/home_thumbnail_vcard_blur.jpg)
  url(../src/home_thumbnail_huawei_blur.jpg)
  url(../src/home_thumbnail_bmw_blur.jpg);
  visibility: hidden;
  left:-999em; /* Move this out of window */
}
#home_header_bg{
  background-color: #EDEDED;
  width: 100%;
  height: 428px;
  position: relative;
  z-index: 0;
}
#home_header_container{
  width: 968px;
  margin: 0 auto;
}
.home_header_content{
  position: absolute;
  margin-top: 146px;
  width: 468px;
  transition-property: all;
  transition-duration: 1s;
}
.home_header_content.initial{
  opacity: 0;
  transform: translate(60px,0);
}

#home_content_container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: -50px;
  width: 968px;
  margin: 0 auto;
}
.home_story_cell{
  /* float: left; */
  margin-right: 64px;
  margin-bottom: 64px;
  transition-property: all;
  transition-duration: .7s;
  position: relative;
  width: 348px;
  height: 348px;
  /* background-color: #55A1F9; */
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 24px rgba(0, 0, 0, 0.1);
}
.home_story_cell_hover_bg{
  position: absolute;
  transition-property: all;
  transition-duration: .7s;
  width: 100%;
  height: 100%;
  background-color: #55A1F9;
  border-radius: 12px;
  opacity: 0;
  z-index: 20
}
.home_story_cell:hover{
  transition-duration: .3s;
  cursor: pointer;
  border-radius: 30px;
  transform: translate(0,-20px) scale(1.1,1.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),0 12px 32px rgba(74, 144, 226, 0.44);
}
.home_story_cell:hover .home_story_cell_hover_bg{
  transition-duration: .3s;
  opacity: 0.8;
  border-radius: 30px;
}
.home_story_image{
  transition-property: all;
  transition-duration: .3s;
  position: absolute;
  z-index: 10;
  /* filter: blur(10px); */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: no-repeat center;
  background-size: contain;
}
.home_story_cell:hover .home_story_image{
  border-radius: 30px;
}
.home_story_company{
  transition-property: all;
  transition-duration: .7s;
  margin-bottom: 4px;
}
.home_story_cell:hover .home_story_company{
  transition-duration: .3s;
  transform: scale(1.3,1.3) translate(42px,8px);
  color: white;
}
#home_story_psa{
  background-image: url(../src/home_thumbnail_psa.jpg);
}
.home_story_cell:hover #home_story_psa{
  background-image: url(../src/home_thumbnail_psa_blur.jpg);
}
#home_story_vcard{
  background-image: url(../src/home_thumbnail_vcard.jpg);
}
.home_story_cell:hover #home_story_vcard{
  background-image: url(../src/home_thumbnail_vcard_blur.jpg);
}
#home_story_huawei{
  background-image: url(../src/home_thumbnail_huawei.jpg);
}
.home_story_cell:hover #home_story_huawei{
  background-image: url(../src/home_thumbnail_huawei_blur.jpg);
}
#home_story_bmw{
  background-image: url(../src/home_thumbnail_bmw.jpg);
}
.home_story_cell:hover #home_story_bmw{
  background-image: url(../src/home_thumbnail_bmw_blur.jpg);
}
.home_story_cell_texts{
  position: absolute;
  z-index: 30;
  padding: 18px;
}
.home_story_year{
  transition-property: all;
  transition-duration: .7s;
  opacity: 0;
  color: #215DA2;
}
.home_story_cell:hover .home_story_year{
  transition-duration: .3s;
  opacity: 1;
  transform: scale(1.3,1.3) translate(42px,12px);
}
.home_story_title{
  transition-property: all;
  transition-duration: .7s;
  opacity: 0;
  width: 268px;
  margin-top: 120px;
  margin-left: 24px;
}
.home_story_cell:hover .home_story_title{
  transition-duration: 1s;
  opacity: 1;
  transform: translate(-10px,0);
}

#home_concept_container{
  position: relative;
  width: 760px;
}
#home_concept_title{
  width: 100%;
  padding-top: 20px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 1px 0 0 0;
}
