.j_content{
    width: 100%;
    max-width:900px;
    margin:0 auto;
}
#j_header{
    padding-top: 100px;
    padding-bottom: 40px;
    width: 720px;
}
.j_info{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 10px;
}
.j_p{
    font-family: serif;
    font-size:20px;
    font-weight:100;
    color: black;
    line-height: 28px;
    margin-bottom: 30px;
}
.j_seg_title{
    margin-top: 80px;
}
.j_inner_img{
    width: 900px;
}
.j_annotation{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 10px;
    text-align: center;
}
.j_ref{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 22px;
    font-family: serif;
    font-style: italic;
    margin-bottom: 20px;
}