#vcard_header{
  background-image: url(../src/vcard_header.jpg);
  background-position: bottom;
  /* margin-bottom: 0; */
}
#vcard_img_never_go_back{
  background-image: url(../src/vcard_zichuan.jpg);
}
#vcard_layout_1{
  width: 96px;
  height: 76px;
  margin: 48px 0 0 28px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/vcard_layout_1.svg);
}
#vcard_layout_2{
  width: 76px;
  height: 96px;
  margin: 28px 0 0 28px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/vcard_layout_2.svg);
}
#vcard_layout_3{
  width: 76px;
  height: 96px;
  margin: 28px 0 0 28px;
  background: no-repeat center;
  background-size: contain;
  background-image: url(../src/vcard_layout_3.svg);
}
.vcard_feature_gallery{
  overflow: hidden;
  margin-left: calc((100% - 968px)/2 + 80px);
}
.vcard_feature_img{
  height: 500px;
}
.vcard_feature_img_l{
  height: 600px;
  margin-bottom: 48px;
}
#vcard_footer_tn_pre{
  background-image: url(../src/home_thumbnail_psa.jpg);
}
#vcard_footer_tn_next{
  background-image: url(../src/home_thumbnail_huawei.jpg);
}
