#otr_header{
    width: 100%;
    height: 360px;
    background: white url("../img/otr_header.svg") no-repeat center;
    background-size: 328px;
}
.otr_inner_content{
    max-width:1440px;
    margin:0 auto;
    padding-left:90px;
    padding-right:90px;
}
#otr_header_intro{
    width:60%;
    max-width:800px;
    margin: -60px auto 90px;
}
.otr_p{
     font-size:20px;
     font-weight:100;
     font-family: "HK Grotesk Light", serif;
     color: black;
     line-height: 30px;
     text-align: left;
 }
.otr_line {
    height: 1px;
    background: #d4d4d4;
    width: 100%;
    margin: 0 auto;
}
.otr_intro{
    width:50%;
    padding-right:90px;
    padding-top:60px;
    padding-bottom:90px;
}
.otr_link, .otr_link:visited{
    font-size:20px;
    font-weight:100;
    font-family: "HK Grotesk Regular", serif;
    color: #3BA0FF;
    line-height: 30px;
}
.otr_link:hover {
    font-size: 20px;
    font-weight: 100;
    font-family: "HK Grotesk Regular", serif;
    color: #80beff;
    line-height: 30px;
}
.otr_img{
    width:100%;
}
#otr_uc{
    background: url("../img/otr_ui_uc@2x.jpg") no-repeat;
    background-size: cover;
    width:890px;
    height:685px;
    margin: 0 auto 90px auto;
}
.otr_icon{
    width:10%;
    max-width:108px;
    float:right;
    position:relative;
    margin-top:60px;
}
#otr_hst{
    background: url("../img/otr_ui_hst@2x.jpg") no-repeat;
    background-size: cover;
    width:890px;
    height:685px;
    margin: 0 auto 90px auto;
}
