.proa_img{
    width: 100%;

}
.proa_inner_content{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}
.proa_half_content{
    width: 50%;
}
.proa_long_content{
    width: 70%;
    margin-bottom: 90px;
}
.proa_p{
    font-size:20px;
    font-weight:100;
    font-family: "HK Grotesk Light", sans-serif;
    color: #9d9d9d;
    line-height: 30px;
    margin:0;
}
.proa_subtitle{
    font-size:28px;
    font-weight:100;
    font-family: "HK Grotesk Light", sans-serif;
    color: white;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}
.proa_small{
    font-size:16px;
    font-weight:100;
    font-family: "HK Grotesk Light", sans-serif;
    color: #9d9d9d;
    line-height: 24px;
}
.proa_phase_cell{
    width: 18%;
    margin-top: 0;
    margin-bottom: 0;
}
.proa_seg_title{
    margin: 60px auto;
    width: 200px;
    height: 200px;
}
.proa_center_intro{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
}
.proa_dark_blue_content{
    background-color: #1F2533;
    padding-top: 90px;
    padding-bottom: 2px;
}
.proa_m_figure{
    margin: 40px auto 120px;
    max-width: 1099px;
}
.proa_black{
    color: black;
}
.proa_white{
    color: white;
}
.proa_light_blue{
    color: #8FDAFF;
}
#proa_header{
    position: relative;
}
#proa_intro{
    position: absolute;
    width: 440px;
    bottom: 10%;
    left: 10%;
}
#proa_phases{
    display: flex;
    height: 420px;
    justify-content: space-between;
}
#proa_prophase_icon{
    width: 180px;
    height: 180px;
    background-image: url("../img/w_proa_icon_put.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#proa_design_icon{
    width: 180px;
    height: 180px;
    background-image: url("../img/w_proa_icon_hd.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#proa_build_icon{
    width: 180px;
    height: 180px;
    background-image: url("../img/w_proa_icon_tpb.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#proa_test_icon{
    width: 180px;
    height: 180px;
    background-image: url("../img/w_proa_icon_ust.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#proa_seg_design{
    background: url("../img/w_proa_icon_hd.svg") no-repeat;
    background-size: cover;
}
.proa_feature_header{
    background-color: black;
}
.proa_inner_img{
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
}
#proa_seg_build{
    background: url("../img/w_proa_icon_tpb.svg") no-repeat;
    background-size: cover;
}
#proa_test_platform{
    width: 807px;
    height: 893px;
    background: url("../img/w_proa_test platform@2x.png") no-repeat;
    background-size: contain;
    margin: 60px auto;
}