.so_content{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 90px 80px;
}
.so_p{
    font-size: 20px;
    font-weight: 100;
    font-family: "HK Grotesk Light", serif;
    color: black;
    line-height: 30px;
}
.so_img{
    width: 100%;
}
.so_text_intro{
    width: 60%;
}
.so_text_intro_margin{
    margin-top: 40px;
}
#so_header{
    padding: 0;
    max-width: 1680px;
}
#so_pull{
    width: 36%;
    max-width: 265px;
    float: right;
}
#so_icons{
    background: url("../img/so_icons.svg") no-repeat;
    background-size: cover;
    width: 244px;
    height: 65px;
    margin-top: 30px;
}