#trims_header{
    width: 100%;
    background-color: white;
    height: 795px;
    position: relative;
    overflow: hidden;
}
#trims_header_l{
    background: url("../img/trims_h_l.jpg") no-repeat;
    background-size: contain;
    width: 676px;
    height: 408px;
    position: absolute;
    top: 144px;
    left: 0;
    transform: translate(-400px,0);
    z-index: 0;
}
#trims_header_r{
    background: url("../img/trims_h_r.jpg") no-repeat;
    background-size: cover;
    width: 25%;
    max-width: 676px;
    height: 408px;
    position: absolute;
    top: 144px;
    right: 0;
    /*transform: translate(360px,0);*/
    z-index: 0;
}
.trims_h1{
    font-family: "HK Grotesk Bold", sans-serif;
}
#trims_intro{
    position: absolute;
    width: calc(50% - 40px);
    max-width: 780px;
    top: 160px;
    left: 320px;
    z-index: 1;
}
#trims_note{
    width: 376px;
    position: absolute;
    top: 600px;
    left: 320px;
    background-color: #FFE851;
    padding: 80px 60px;
    z-index: 2;
}
.trims_img{
    width: 100%;
}
.trims_p{
    font-size: 20px;
    font-weight: 100;
    font-family: "HK Grotesk Light", serif;
    color: black;
    line-height: 30px;
}
.trims_p_w{
    font-size: 20px;
    font-weight: 100;
    font-family: "HK Grotesk Light", serif;
    color: white;
    line-height: 30px;
}
.trims_content{
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
}
.trims_text_intro{
    width: 50%;
}
#trims_git_title{
    width: 411px;
    height: 98px;
    background: url("../img/trims_git_title.svg") no-repeat;
    margin-top: 40px;
    margin-bottom: 100px;
}
#trims_motivation_area{
    position: relative;
    background-color: #232323;
    margin-top: -5px;
    padding-bottom: 180px;
}
#trims_console{
    width: 45%;
    height: 473px;
    max-width: 680px;
    background: url("../img/trims_console.png") no-repeat;
    background-size: cover;
    float: right;
    margin-right: -90px;
    margin-top: 20px;
}
#trims_note_2{
    width: 376px;
    position: absolute;
    bottom: -360px;
    left: 320px;
    background-color: #3BA0FF;
    padding: 80px 60px;
}
#trims_note_2 h2{
    color: white;
}
#trims_brief{
    margin-bottom: 180px;
}
#trims_exclamation{
    margin-top: 300px;
    margin-bottom: 40px;
    width: 30px;
    height: 129px;
    background: url("../img/trims_exclamation.svg") no-repeat;
    background-size: cover;
}
#trims_co{
    width: 215px;
    height: 158px;
    background: url("../img/trims_co.svg") no-repeat;
    background-size: cover;
    float: right;
}
#trims_svn_container{
    background-color:#E8E8E8;
    margin-bottom: 40px;
    position: relative;
}
#trims_push{
    width: 201px;
    height: 84px;
    background: url("../img/trims_push.svg") no-repeat;
    background-size: cover;
    float: right;
    margin-top: 40px;
}
#trims_modal{
    width: 713px;
    height: 364px;
    background: url("../img/trims_modal.png") no-repeat;
    background-size: cover;
    margin: 40px auto 0;
}
#trims_interface_main{
    margin-top: -220px;
    margin-bottom: 60px;
}
#trims_export{
    width: 200px;
    height: 149px;
    background: url("../img/trims_export.svg") no-repeat;
    background-size: cover;
    float: right;
    margin-top: 40px;
}
#trims_style_container{
    position: relative;
    margin-top: 90px;
    background-color: #232323;
    height: 598px;
    padding-top: 140px;
}
#trims_icon_style{
    width: 960px;
    height: 336px;
    background: url("../img/icons_style.png") no-repeat;
    background-size: cover;
    margin: 0 auto
}
#trims_note_3{
    width: 376px;
    position: absolute;
    bottom: -400px;
    left: 320px;
    background-color: #FFE851;
    padding: 80px 60px;
}
#trims_package{
    width: 168px;
    height: 169px;
    margin-top: 40px;
    background: url("../img/trims_package.svg") no-repeat;
    background-size: cover;
    float: right;
}
#trims_github_icon{
    width: 64px;
    height: 64px;
    float: left;
    background: url("../img/icon_github.svg") no-repeat;
    background-size: 64px;
    margin-right: 20px;
    margin-top: 20px;
}
#trims_github_links{
    margin-left: 84px;
    margin-top: 40px;
    font-weight: 100;
    font-family: "HK Grotesk Light", serif;
}
.trims_link{
    transition-property: none;
    font-size: 16px;
    line-height: 34px;
    color: #80abff;
}
.trims_link:visited{
    color: #80abff;
}
.trims_link:hover{
    transition-property: none;
    color: black;
}